<!DOCTYPE html>
<html>

<head>
    <title>Messengers</title>
    <script src="{{url_for('static', filename = 'p5.min.js')}}" charset="utf-8"></script>
    <!-- <script src="{{url_for('static', filename = 'p5.dom.min.js')}}" charset="utf-8"></script> -->
    <script src="{{url_for('static', filename = 'p5.sound.min.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename = 'p5.collide2d.min.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename = 'socket.io.min.js')}}" charset="utf-8"></script>
    <link rel="stylesheet" href="{{url_for('static', filename = 'style.css')}}">
    <meta charset="utf-8">
</head>

<body>
    <script src="{{url_for('static', filename = 'Fog.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename = 'Explosion.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename = 'Player.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename = 'Bullet.js')}}" charset="utf-8"></script>
    <script src="{{url_for('static', filename = 'sketch.js')}}" charset="utf-8"></script>
    <p>
        <h1>
            Messengers
        </h1>
        <p>Sound Design: ljw | Visual Design: Jopabi | Basic Programming: giy</p>
</body>

</html>